.slide-container
  .slide-content#slide-1
    .slide-1-container
      .h1 暮らす人と旅しよう
      .h4 お家、体験、スポット、すべてを1つのアプリで。
  .slide-content#slide-2
    #slide-2-img
      .slide-2-container
        .h1 Airbnbの体験
        .h4
          寿司職人、無敵のサーファーに（気分だけでも）
          %br
          変身しよう。
  .slide-content#slide-3
    .slide-3-content
      #slide-3-img
        .slide-3-container
          .slide-3-text
            .h1 Airbnbのスポット
            .h4 Woodyみたいなエキスパートと町を彷徨う。
  .slide-content#slide-4
    #slide-4-img
      .slide-4-container
        .h1
          LA会場から
          %br
          生中継
        .h4
          ブライアン・チェスキーCEOただいま登壇中。
          %br
          新たな「旅」の幕開けをお見逃しなく！
