.slide-container
  = image_tag 'https://a0.muscache.com/airbnb/static/engagement/p1/large/posters_sm.jpg', class: 'card_1'
  = image_tag 'https://a0.muscache.com/airbnb/static/engagement/p1/large/experiences-hero-desktop.png'
  = image_tag 'https://a0.muscache.com/airbnb/static/engagement/p1/large/places_desktop_lg.png'
  = image_tag 'https://a0.muscache.com/airbnb/static/engagement/p1/large/keynote_desktop.jpg'
