%footer.clearfix
  .language-curr-picker.col-md-2
    %label{for: "language-selector"}

  .col-md-2
    %h2 Airbnb
    %ul.list-layout
      %li
        %a Airbnbとは
      %li
        %a 採用情報
      %li
        %a プレス
      %li
        %a ポリシー
      %li
        %a ヘルプ
  .col-md-2
    %h2 スタッフのおすすめ
    %ul.list-layout
      %li
        %a 信頼&安全
      %li
        %a お友達紹介クーポン
      %li
        %a Airbnb Citizen
      %li
        %a 出張
      %li
        %a ガイドブック
  .col-md-2
    %h2 ホスティング
    %ul.list-layout
      %li
        %a ホストになる理由
      %li
        %a おもてなしの心
      %li
        %a ホストの責任
