%header.clearfix
  .pull-left
    = link_to "/" do
      .icon_box
        %i.fa.fa-bug.fa-2x
  .pull-right.height_100
    .header_content.header_link_container
      %button.btn.btn-default.user-avator{"data-target": "#myModal", "data-toggle": "modal", type: "button"} ログイン
  .pull-right
    =link_to "/signup_login", class: "header_link_container" do
      .header_content
        %span アカウント作成
  .pull-right
    =link_to "/signup_login", class: "header_link_container" do
      .header_content
        %span ヘルプ
  -# .pull-right
  -#   =link_to "/signup_login", class: "header_link_container" do
  -#     .header_content
  -#       %span ホストする時間がない方はこちら
  .pull-right
    =link_to new_room_path, class: "header_link_container" do
      .header_content
        %span ホストになる

-# .row.clearfix#sticky
-#   .pull-left
-#     = link_to "/" do
-#       .icon_box
-#         %i.fa.fa-bug.fa-2x
-#   .pull-right.height_100
-#     .header_content.header_link_container
-#       %button.btn.btn-default.user-avator{"data-target": "#myModal", "data-toggle": "modal", type: "button"} ログイン
-#   .pull-right
-#     =link_to "/signup_login", class: "header_link_container" do
-#       .header_content
-#         %span アカウント作成
-#   .pull-right
-#     =link_to "/signup_login", class: "header_link_container" do
-#       .header_content
-#         %span ヘルプ
-#   .pull-right
-#     =link_to "/signup_login", class: "header_link_container" do
-#       .header_content
-#         %span ホストする時間がない方はこちら
-#   .pull-right
-#     =link_to "/signup_login", class: "header_link_container" do
-#       .header_content
-#         %span ホストになる


/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center ログインして下さい
      .modal-body
        %h4 メールアドレス
        %input.col-md-12
        %h4 パスワード
        %input.col-md-12
        %button.btn.btn-danger.btn-lg.btn-block{:type => "button"} ログイン
        %br
        =link_to 'アカウントはお持ちではないですか？'
        %button.btn.btn-default.btn-lg{:type => "button"} 登録
