.header
  %header
    .icon
      %i.fa.fa-tripadvisor.fa-3x
      -# %img 
    .header-content
      .user-avator 写真
      .help-link ヘルプ
      .message-link メッセージ
      .trips-comp 旅行
      .host-menu ホスト
      .hire-host ホストする時間がない方はこちら
