.search-form
  %form
    .input-wrapper
      .search-form-location
        %label.search-form-label{for: 'search-location'}
          %span 場所
        %input#search-location{name: 'location',placeholder: '行き先、都市、住所'}
      .search-form-dates
        .container-fluid
          %label.search-form-label{for: 'start-date'}
            %span 日時
            .row
              .col-sm-5.input-date
                .date-range-picker
                  %input{type: 'text', name: 'startDate', id: 'start-date', class: 'input-date'}
              .col-sm-1.text-center
                %span →
              .col-sm-5.input-date
                %input{type: 'text', name: 'endDate', id: 'end-date', class: 'input-date'}
                .date-input.date-end
                  -# %button
      .search-form-guests
        %label.search-form-label{for: 'how-many-guests'}
          %span ゲスト
        .guest-picker-trigger
          %button
            %span 宿泊1人
      .search-form-submit
        %button.btn{type: 'submit'}
          .submit-text 探す
