.header
  .icon
    %i.fa.fa-bed.fa-3x
  .header-content
    .user-avator 写真
    .help-link ヘルプ
    .message-link メッセージ
    .trips-comp 旅行
    .host-menu ホスト
    .hire-host ホストする時間がない方はこちら

.main
  .cardSlide
    = image_tag 'slide/posters_sm.jpg'
