.swipe-container{
  width: 100%;
  height: 550px;
  .card-container{
    width: 100%;
    height: 550px;
    .card_one{
      width: inherit;
      height: inherit;
      background-image: url('/images/posters/posters_sm.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .card_two{
      width: inherit;
      height: inherit;
      background-image: url('/images/posters/keynote_desktop.jpg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .card_three{
      width: inherit;
      height: inherit;
      background-image: url('/images/posters/experiences-hero-desktop.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .card_four{
      width: inherit;
      height: inherit;
      background-image: url('/images/posters/places_desktop_lg.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
