.slide-container{
  width: 100%;
  min-width: 960px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.slide-content{
  height: 100%;
  display: none;
}

.slide-1-container{
  padding-top: 40px;
  padding-left: 72px;
  text-align: left;
  max-width: 1080px;
  margin: 0 auto;
  .h1{
    font-family: CircularBlack, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #484848;
    margin-bottom: 8px;
    letter-spacing: -1px;
    line-height: 56px;
  }
}



#slide-1{
  background-image: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/posters_sm.jpg);
  background-position: bottom center;
  background-size: 1600px auto;
  background-repeat: repeat-x;
  left: -60px;
}

.slide-2-container{
  padding-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding-left: 72px;
  color: white;
 .h1{
    font-family: "ヒラギノ角ゴ Pro";
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    margin-bottom: 8px;
    letter-spacing: -1px;
    line-height: 56px;
  }
}


#slide-2{
  width: inherit;
  height: inherit;
  background-color: #ff7e75;
  background: linear-gradient(120deg, #ff7e75, #ff9988, #a91f56);
  opacity: 1;
  #slide-2-img{
    background-image: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/experiences-hero-desktop.png);
    background-position: left;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#slide-3{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #ffefd3;
    background: -moz-linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%);
    background: -webkit-linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%);
    background: linear-gradient(135deg, #ffefd3 0%, #fcdece 53%, #fdab93 100%);
  #slide-3-img{
    background-image: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/places_desktop_lg.png);
    background-size: auto 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
    // left: auto;
    width: 1080px;
    margin: 0 auto;
    height: 550px;
  }
}
.slide-3-text{
  padding: 120px;
  .h1{
    font-family: CircularBlack, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #484848;
    margin-bottom: 8px;
    letter-spacing: -1px;
    line-height: 56px;
  }
}


.slide-4-container{
  padding-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding-left: 72px;
  color: white;
 .h1{
    font-family: "ヒラギノ角ゴ Pro";
    font-weight: bold;
    font-size: 48px;
    color: #fff;
    margin-bottom: 8px;
    letter-spacing: -1px;
    line-height: 56px;
  }
}


#slide-4{
  width: inherit;
  height: inherit;
  #slide-4-img{
    background-image: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/keynote_desktop.jpg);
    background-position: right;
    width: 1080px;
    height: 550px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: auto 90%;
    .slide-4-container{
      .h1{
        margin-top: 100px;
        color: #484848;
      }
      .h4{
        color: #484848;
      }
    }
  }
}
