.slide-container{
  min-width: 960px;
  height: 465px;
  position: relative;
  overflow: hidden;
  img{
    width: auto;
    height: 100%;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -800px;
  }
}
