@font-face {
  font-family: Airglyphs;
  src: url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a65ed58b98acfb02d9b2fca8d3592596.eot");
  src: url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-ie8-46394bc8d75742d1bbce6f07cf93442a.eot?#") format("eot"),url("https://a1.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-701f40935e70e54947e28932ff4c09cc.woff") format("woff"),url("https://a0.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-a53b457a3b30a4598620986b60e9f6f5.ttf") format("truetype"),url("https://a2.muscache.com/airbnb/static/airbnb-o2/fonts/airglyphs-0d3bc31ac819a08e187d636e6ecddd8c.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
