footer{
  margin-top: 48px;
  .col-md-2{
    float: left;
    width: 16.6667%;
    margin-left: 8.33333%;
    padding: 0 3px;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    h2{
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    ul li{
      font-size: 12px;
    }
  }
}
