.hosting-main-content{
  margin: 0 55px !important;
}

.landing__left-col-content,{
  margin: 58px 93.5px 50px 100px;
}
.landing__step-content{
 margin: 0 93.5px 0 100px;
}

.space-5{
  margin-bottom: 30px;
  h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1
  }
}

.space-1{
  margin-bottom: 6px;
}


.line-space-location-input{
  display: block;
  padding: 8px 10px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #484848;
}


