@import "text_header";
@import "card_swipe";
@import "search_form";
@import "show";

h3{
  font-family: ヒラギノ角ゴ;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  margin-bottom: 24px;
  box-sizing: border-box;
}


.rooms-container{
  margin: 48px 0;
  .room-container{
    width: 33%;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
    img{
      width: 100%;
      height: auto;
      display: inline-block;
      box-sizing: border-box;
    }
    .bottomRow{
      padding: 8px 0;
      .priceTiele{
        display: block;
      }
    }
  }
}

.exes-container{
  margin: 48px 0;
  .exe-container{
    width: 24%;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
    img{
      width: 100%;
      height: auto;
      display: inline-block;
      box-sizing: border-box;
    }
    .bottomRow{
      padding: 8px 0;
      .priceTiele{
        display: block;
      }
    }
  }
}

.dests-container{
  margin: 48px 0;
  .dest-container{
    width: 16%;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
    img{
      width: 100%;
      height: auto;
      display: inline-block;
      box-sizing: border-box;
    }
    .bottomRow{
      padding: 8px 0;
    }
  }
}

.col-md-2, .col-md-1, .col-md-4{
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}








